<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992919126863-fdjon3sgna55kubl6dhpp5haisfiq404.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992919126863-fdjon3sgna55kubl6dhpp5haisfiq404</string>
	<key>API_KEY</key>
	<string>AIzaSyD2xT8twRAvTgWHOa_L8ybag_fOfEtjrtQ</string>
	<key>GCM_SENDER_ID</key>
	<string>992919126863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anshuvij.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-98e8f</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-98e8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992919126863:ios:71d6c538fe7ac5262abb3a</string>
	<key>DATABASE_URL</key>
	<string>https://instagramclone-98e8f.firebaseio.com</string>
</dict>
</plist>